body

{
   margin: 0;
   badding:0;
   background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
   background-size: 400% 400%;
   animation: biganimation 15s infinite
   color: #fff;
   font-family: sans-serif;
}

.aa
{
   whidth: 120px;
   border-radius: 10px;
}


.ee
{
   width: 30%;
   size: 1px;
   margin-top: 50px;
}

.bb
{
   color: #ffd452;
   text-decoration: none;
   border: #ccc 2px solid;
   padding: 5px 15px;
   border-radius: 10px;


}
